.output_division{
    color:black;
    width:100%;
    border-style:solid;
    border-width:5px;
    border-color:black;
    padding:0px;
    margin:0px;
}

#header{
    background-color: yellow;
    width:99.9%;
    padding:15px;
    margin:0px;
    border-style:solid;
    border-width:5px;
    border-color:black;
    color:black;
}